openapi: 3.1.0
info:
  title: YAPPC Product Development Platform API
  version: 1.0.0
  description: |
    Complete API for YAPPC - Product Development Platform (Intent → Shape → Validate → Generate → Run → Observe → Learn → Evolve)
    
    ## Authentication
    Bearer token authentication required for all endpoints.
    
    ## Tenant Isolation
    All endpoints require X-Tenant-ID header for tenant-scoped operations.
    
    ## API Surface Areas
    - **Workflows**: AI-driven workflow orchestration and state management
    - **Agents**: AI agent discovery, execution, and health monitoring
    - **Vector**: Semantic search, document indexing, and RAG operations
    - **Designs**: System architecture design and validation
    - **Code Generation**: Generate production-ready code artifacts
    - **Artifacts**: Retrieve generated code artifacts
    - **Refactoring**: Get refactoring suggestions
  contact:
    name: YAPPC Support
  license:
    name: Proprietary

servers:
  - url: https://api.yappc.io/v1
    description: Production

tags:
  - name: Workflows
    description: AI workflow orchestration and state management
  - name: Agents
    description: AI agent discovery, execution, and health monitoring
  - name: Vector
    description: Semantic search, indexing, and RAG operations
  - name: Designs
    description: Create and manage system designs
  - name: Code Generation
    description: Generate code from designs
  - name: Artifacts
    description: Retrieve generated artifacts
  - name: Refactoring
    description: Get refactoring suggestions

paths:
  # ==================== WORKFLOWS ====================
  /workflows:
    post:
      summary: Create new workflow
      operationId: createWorkflow
      tags:
        - Workflows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    get:
      summary: List workflows for tenant
      operationId: listWorkflows
      tags:
        - Workflows
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, RUNNING, PAUSED, COMPLETED, FAILED, CANCELLED]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}:
    get:
      summary: Get workflow by ID
      operationId: getWorkflow
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      summary: Delete workflow
      operationId: deleteWorkflow
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Workflow deleted
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/start:
    post:
      summary: Start workflow
      operationId: startWorkflow
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '409':
          description: Invalid workflow state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/pause:
    post:
      summary: Pause workflow
      operationId: pauseWorkflow
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow paused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '409':
          description: Invalid workflow state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/resume:
    post:
      summary: Resume workflow
      operationId: resumeWorkflow
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '409':
          description: Invalid workflow state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/cancel:
    post:
      summary: Cancel workflow (durable cancellation with audit)
      operationId: cancelWorkflow
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow cancellation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '409':
          description: Invalid workflow state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/steps/advance:
    post:
      summary: Advance to next workflow step
      operationId: advanceStep
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StepResultDto'
      responses:
        '200':
          description: Step advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/steps/{stepId}/goto:
    post:
      summary: Go to specific workflow step
      operationId: goToStep
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: stepId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow transitioned to step
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '409':
          description: Invalid workflow state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/plans/generate:
    post:
      summary: Generate AI plan for workflow
      operationId: generatePlan
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePlanDto'
      responses:
        '200':
          description: AI plan generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPlan'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{workflowId}/plans/{planId}/approve:
    post:
      summary: Approve AI plan (with audit chain)
      operationId: approvePlan
      tags:
        - Workflows
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
        - name: planId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPlan'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{workflowId}/plans/{planId}/reject:
    post:
      summary: Reject AI plan (with audit chain)
      operationId: rejectPlan
      tags:
        - Workflows
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
        - name: planId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectPlanDto'
      responses:
        '200':
          description: Plan rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPlan'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{workflowId}/plans/{planId}/steps:
    put:
      summary: Modify plan steps
      operationId: modifyPlanSteps
      tags:
        - Workflows
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
        - name: planId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyStepsDto'
      responses:
        '200':
          description: Plan steps modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPlan'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workflows/{id}/route:
    post:
      summary: Get routing decision for workflow
      operationId: routeWorkflow
      tags:
        - Workflows
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequestDto'
      responses:
        '200':
          description: Routing decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingDecision'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ==================== AGENTS ====================
  /agents:
    get:
      summary: List all registered agents
      operationId: listAgents
      tags:
        - Agents
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/capabilities:
    get:
      summary: List all available capabilities across agents
      operationId: listCapabilities
      tags:
        - Agents
      responses:
        '200':
          description: Capabilities mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilityMap'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/health:
    get:
      summary: Get health status of all agents
      operationId: getAllAgentsHealth
      tags:
        - Agents
      responses:
        '200':
          description: Health status of all agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentHealthList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/{name}:
    get:
      summary: Get detailed information about a specific agent
      operationId: getAgent
      tags:
        - Agents
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/{name}/health:
    get:
      summary: Get health status of a specific agent
      operationId: getAgentHealth
      tags:
        - Agents
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agent health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentHealth'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/{name}/execute:
    post:
      summary: Execute an agent with provided input
      operationId: executeAgent
      tags:
        - Agents
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Agent execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentExecutionResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/copilot/chat:
    post:
      summary: Specialized endpoint for copilot chat interactions
      operationId: copilotChat
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Copilot response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentExecutionResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/search:
    post:
      summary: Specialized endpoint for semantic search
      operationId: agentSearch
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentExecutionResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/predict:
    post:
      summary: Specialized endpoint for predictions
      operationId: predict
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Prediction result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentExecutionResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /agents/by-capability/{capability}:
    get:
      summary: Find agents with a specific capability
      operationId: findByCapability
      tags:
        - Agents
      parameters:
        - name: capability
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agents with capability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ==================== VECTOR ====================
  /vector/search:
    post:
      summary: Perform semantic search
      operationId: semanticSearch
      tags:
        - Vector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchDto'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /vector/search/hybrid:
    post:
      summary: Perform hybrid search (semantic + keyword)
      operationId: hybridSearch
      tags:
        - Vector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridSearchDto'
      responses:
        '200':
          description: Hybrid search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /vector/similar/{id}:
    get:
      summary: Find similar items by ID
      operationId: findSimilar
      tags:
        - Vector
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: threshold
          in: query
          schema:
            type: number
            format: double
            default: 0.7
      responses:
        '200':
          description: Similar items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarItemsResult'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /vector/index:
    post:
      summary: Index a document
      operationId: indexDocument
      tags:
        - Vector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexDocumentDto'
      responses:
        '200':
          description: Document indexed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Indexing failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /vector/index/batch:
    post:
      summary: Batch index multiple documents
      operationId: batchIndex
      tags:
        - Vector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchIndexDto'
      responses:
        '200':
          description: Batch index results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchIndexResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /vector/index/{id}:
    delete:
      summary: Delete a document from the index
      operationId: deleteDocument
      tags:
        - Vector
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Document deleted
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /vector/rag:
    post:
      summary: Generate a RAG response
      operationId: rag
      tags:
        - Vector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RagDto'
      responses:
        '200':
          description: RAG response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /vector/rag/chat:
    post:
      summary: Generate a conversational RAG response
      operationId: ragChat
      tags:
        - Vector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationalRagDto'
      responses:
        '200':
          description: Conversational RAG response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ==================== DESIGNS ====================
  /designs:
    post:
      summary: Create new design
      operationId: createDesign
      tags:
        - Designs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDesignRequest'
      responses:
        '201':
          description: Design created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
        '400':
          description: Invalid design
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /designs/{designId}:
    get:
      summary: Get design
      operationId: getDesign
      tags:
        - Designs
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Design details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
        '404':
          description: Design not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    patch:
      summary: Update design
      operationId: updateDesign
      tags:
        - Designs
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDesignRequest'
      responses:
        '200':
          description: Design updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Design not found

  /designs/{designId}/validate:
    post:
      summary: Validate design
      operationId: validateDesign
      tags:
        - Designs
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Design not found

  /generated-code:
    post:
      summary: Generate code from design
      operationId: generateCode
      tags:
        - Code Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeGenerationRequest'
            examples:
              java:
                summary: Generate Java code
                value:
                  designId: "design-123"
                  language: "java"
                  packageName: "com.example.app"
              python:
                summary: Generate Python code
                value:
                  designId: "design-456"
                  language: "python"
                  packageName: "myapp"
      responses:
        '202':
          description: Code generation started
          headers:
            Location:
              description: URL to poll for status
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeGenerationOperation'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /generated-code/{operationId}:
    get:
      summary: Get generation status
      operationId: getGenerationStatus
      tags:
        - Code Generation
      parameters:
        - name: operationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Generation status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeGenerationOperation'
        '404':
          description: Operation not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /artifacts/{artifactId}:
    get:
      summary: Get generated artifact
      operationId: getArtifact
      tags:
        - Artifacts
      parameters:
        - name: artifactId
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum:
              - json
              - zip
              - tar.gz
            default: json
      responses:
        '200':
          description: Generated code artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedArtifact'
            application/zip:
              schema:
                type: string
                format: binary
        '404':
          description: Artifact not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /artifacts/{artifactId}/versions:
    get:
      summary: List artifact versions
      operationId: getArtifactVersions
      tags:
        - Artifacts
      parameters:
        - name: artifactId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtifactVersion'
        '404':
          description: Artifact not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /refactoring-suggestions/{designId}:
    get:
      summary: Get refactoring suggestions
      operationId: getRefactoringSuggestions
      tags:
        - Refactoring
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
            enum:
              - performance
              - maintainability
              - testing
              - security
      responses:
        '200':
          description: Refactoring suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      $ref: '#/components/schemas/RefactoringSuggestion'
        '404':
          description: Design not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

components:
  schemas:
    CreateDesignRequest:
      type: object
      required:
        - name
        - components
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
        components:
          type: array
          items:
            $ref: '#/components/schemas/ComponentDef'
          minItems: 1
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationship'

    UpdateDesignRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        components:
          type: array
          items:
            $ref: '#/components/schemas/ComponentDef'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationship'

    ComponentDef:
      type: object
      required:
        - id
        - name
        - type
      properties:
        id:
          type: string
          pattern: '^[a-z][a-z0-9_]*$'
        name:
          type: string
        type:
          type: string
          enum:
            - SERVICE
            - CONTROLLER
            - REPOSITORY
            - UTILITY
            - LIBRARY
            - DATABASE
            - CACHE
            - MESSAGE_QUEUE
        description:
          type: string
        properties:
          type: object
          additionalProperties: true

    Relationship:
      type: object
      required:
        - fromComponent
        - toComponent
        - type
      properties:
        fromComponent:
          type: string
        toComponent:
          type: string
        type:
          type: string
          enum:
            - DEPENDS_ON
            - IMPLEMENTS
            - EXTENDS
            - USES
        strength:
          type: string
          enum:
            - REQUIRED
            - OPTIONAL
          default: REQUIRED

    Design:
      allOf:
        - $ref: '#/components/schemas/CreateDesignRequest'
        - type: object
          required:
            - designId
            - createdAt
          properties:
            designId:
              type: string
              format: uuid
            version:
              type: integer
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            validationStatus:
              type: string
              enum:
                - VALID
                - INVALID
                - NEEDS_REVIEW

    ValidationResult:
      type: object
      required:
        - isValid
      properties:
        isValid:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/ValidationWarning'
        circularDependencies:
          type: array
          items:
            type: array
            items:
              type: string

    ValidationError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          enum:
            - CIRCULAR_DEPENDENCY
            - INVALID_COMPONENT_TYPE
            - MISSING_DEPENDENCY
            - INVALID_RELATIONSHIP
        message:
          type: string
        componentId:
          type: string

    ValidationWarning:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        componentId:
          type: string

    CodeGenerationRequest:
      type: object
      required:
        - designId
        - language
        - packageName
      properties:
        designId:
          type: string
        language:
          type: string
          enum:
            - java
            - python
            - go
            - typescript
        packageName:
          type: string
          minLength: 1
        targetVersion:
          type: string
          description: Language/framework version
        includeTests:
          type: boolean
          default: true
        includeDocumentation:
          type: boolean
          default: true

    CodeGenerationOperation:
      type: object
      required:
        - operationId
        - status
      properties:
        operationId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - QUEUED
            - RUNNING
            - COMPLETED
            - FAILED
        artifactId:
          type: string
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/Error'

    GeneratedArtifact:
      type: object
      required:
        - artifactId
        - designId
        - language
        - files
      properties:
        artifactId:
          type: string
          format: uuid
        designId:
          type: string
        language:
          type: string
        version:
          type: integer
        files:
          type: array
          items:
            $ref: '#/components/schemas/GeneratedFile'
        createdAt:
          type: string
          format: date-time

    GeneratedFile:
      type: object
      required:
        - path
        - content
      properties:
        path:
          type: string
          description: File path relative to root
        content:
          type: string
          description: File content

    ArtifactVersion:
      type: object
      required:
        - version
        - createdAt
      properties:
        version:
          type: integer
        createdAt:
          type: string
          format: date-time
        language:
          type: string
        description:
          type: string

    RefactoringSuggestion:
      type: object
      required:
        - id
        - title
        - description
        - category
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum:
            - performance
            - maintainability
            - testing
            - security
        impact:
          type: string
          enum:
            - HIGH
            - MEDIUM
            - LOW
        affectedComponents:
          type: array
          items:
            type: string
        suggestedChanges:
          type: object
          additionalProperties: true

    DesignValidationError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            validationErrors:
              type: array
              items:
                $ref: '#/components/schemas/ValidationError'

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        traceId:
          type: string
          format: uuid

    # ==================== WORKFLOW SCHEMAS ====================
    CreateWorkflowRequest:
      type: object
      required:
        - name
        - description
        - type
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
        type:
          type: string
          enum:
            - REQUIREMENT_ANALYSIS
            - CODE_GENERATION
            - REFACTORING
            - TESTING
            - DEPLOYMENT
        createdBy:
          type: string

    Workflow:
      type: object
      required:
        - id
        - name
        - description
        - type
        - status
        - tenantId
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
            - REQUIREMENT_ANALYSIS
            - CODE_GENERATION
            - REFACTORING
            - TESTING
            - DEPLOYMENT
        status:
          type: string
          enum:
            - PENDING
            - RUNNING
            - PAUSED
            - COMPLETED
            - FAILED
            - CANCELLED
        tenantId:
          type: string
        createdBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        currentStep:
          type: string
        steps:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowStep'

    WorkflowList:
      type: object
      required:
        - workflows
        - count
        - limit
        - offset
      properties:
        workflows:
          type: array
          items:
            $ref: '#/components/schemas/Workflow'
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    WorkflowStep:
      type: object
      properties:
        stepId:
          type: string
        stepName:
          type: string
        status:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - COMPLETED
            - FAILED
            - SKIPPED
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    StepResultDto:
      type: object
      required:
        - stepId
        - stepName
        - status
        - startedAt
      properties:
        stepId:
          type: string
        stepName:
          type: string
        status:
          type: string
          enum:
            - COMPLETED
            - FAILED
        output:
          type: object
          additionalProperties: true
        aiGenerated:
          type: string
        userModified:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        errorMessage:
          type: string
        metadata:
          type: object
          additionalProperties: true

    GeneratePlanDto:
      type: object
      required:
        - objective
      properties:
        objective:
          type: string
          minLength: 1

    AiPlan:
      type: object
      required:
        - planId
        - workflowId
        - status
        - createdAt
      properties:
        planId:
          type: string
          format: uuid
        workflowId:
          type: string
        status:
          type: string
          enum:
            - DRAFT
            - PENDING_APPROVAL
            - APPROVED
            - REJECTED
        objective:
          type: string
        steps:
          type: array
          items:
            $ref: '#/components/schemas/PlanStep'
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
        rationale:
          type: string
        createdAt:
          type: string
          format: date-time
        approvedAt:
          type: string
          format: date-time
        approvedBy:
          type: string

    PlanStep:
      type: object
      required:
        - stepId
        - stepName
        - stepType
      properties:
        stepId:
          type: string
        stepName:
          type: string
        stepType:
          type: string
          enum:
            - ANALYSIS
            - GENERATION
            - VALIDATION
            - DEPLOYMENT
        description:
          type: string
        estimatedDuration:
          type: string
        dependencies:
          type: array
          items:
            type: string

    RejectPlanDto:
      type: object
      properties:
        reason:
          type: string

    ModifyStepsDto:
      type: object
      required:
        - steps
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/PlanStep'

    RouteRequestDto:
      type: object
      properties:
        userInput:
          type: string

    RoutingDecision:
      type: object
      required:
        - decision
        - timestamp
      properties:
        decision:
          type: string
          enum:
            - ADVANCE
            - RETRY
            - ESCALATE
            - TERMINATE
        targetStep:
          type: string
        reason:
          type: string
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
        timestamp:
          type: string
          format: date-time

    # ==================== AGENT SCHEMAS ====================
    AgentList:
      type: object
      required:
        - agents
        - total
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentInfo'
        total:
          type: integer

    AgentInfo:
      type: object
      required:
        - name
        - displayName
        - version
        - description
        - capabilities
      properties:
        name:
          type: string
        displayName:
          type: string
        version:
          type: string
        description:
          type: string
        capabilities:
          type: array
          items:
            type: string
        supportedModels:
          type: array
          items:
            type: string

    AgentDetail:
      type: object
      required:
        - name
        - displayName
        - version
        - description
        - capabilities
        - latencySlaMs
        - isHealthy
      properties:
        name:
          type: string
        displayName:
          type: string
        version:
          type: string
        description:
          type: string
        capabilities:
          type: array
          items:
            type: string
        supportedModels:
          type: array
          items:
            type: string
        latencySlaMs:
          type: integer
        isHealthy:
          type: boolean

    AgentHealth:
      type: object
      required:
        - agent
        - healthy
        - latencyMs
        - lastCheck
      properties:
        agent:
          type: string
        healthy:
          type: boolean
        latencyMs:
          type: number
          format: double
        lastCheck:
          type: string
          format: date-time
        dependencies:
          type: array
          items:
            type: string
        errorMessage:
          type: string

    AgentHealthList:
      type: object
      required:
        - agents
        - total
        - healthy
        - unhealthy
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentHealth'
        total:
          type: integer
        healthy:
          type: integer
        unhealthy:
          type: integer

    AgentExecutionResult:
      type: object
      required:
        - agent
        - success
        - trace
      properties:
        agent:
          type: string
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true
        metrics:
          type: object
          properties:
            latencyMs:
              type: number
              format: double
            tokensUsed:
              type: integer
            model:
              type: string
            confidence:
              type: number
              format: double
            costUSD:
              type: number
              format: double
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            retryable:
              type: boolean
        trace:
          type: object
          required:
            - requestId
            - timestamp
            - agentName
          properties:
            requestId:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time
            agentName:
              type: string
            metadata:
              type: object
              additionalProperties: true

    CapabilityMap:
      type: object
      required:
        - capabilities
        - totalCapabilities
      properties:
        capabilities:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        totalCapabilities:
          type: integer

    # ==================== VECTOR SCHEMAS ====================
    SearchDto:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          minLength: 1
        limit:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        threshold:
          type: number
          format: double
          default: 0.7
          minimum: 0
          maximum: 1
        filters:
          type: object
          additionalProperties:
            type: string

    SearchResult:
      type: object
      required:
        - hits
        - count
      properties:
        hits:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              score:
                type: number
                format: double
              content:
                type: string
              metadata:
                type: object
                additionalProperties: true
        count:
          type: integer

    HybridSearchDto:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          minLength: 1
        limit:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        threshold:
          type: number
          format: double
          default: 0.7
          minimum: 0
          maximum: 1
        filters:
          type: object
          additionalProperties:
            type: string
        keywords:
          type: array
          items:
            type: string
        keywordBoost:
          type: number
          format: double
          default: 0.2
          minimum: 0
          maximum: 1

    SimilarItemsResult:
      type: object
      required:
        - sourceId
        - similar
        - count
      properties:
        sourceId:
          type: string
        similar:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              score:
                type: number
                format: double
        count:
          type: integer

    IndexDocumentDto:
      type: object
      required:
        - id
        - content
      properties:
        id:
          type: string
          minLength: 1
        content:
          type: string
          minLength: 1
        metadata:
          type: object
          additionalProperties:
            type: string

    IndexResult:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
        error:
          type: string

    BatchIndexDto:
      type: object
      required:
        - documents
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/IndexDocumentDto'
          minItems: 1
          maxItems: 100

    BatchIndexResult:
      type: object
      required:
        - results
        - total
        - success
        - failed
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/IndexResult'
        total:
          type: integer
        success:
          type: integer
        failed:
          type: integer

    RagDto:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          minLength: 1
        systemPrompt:
          type: string
        contextLimit:
          type: integer
          default: 5
          minimum: 1
          maximum: 20
        relevanceThreshold:
          type: number
          format: double
          default: 0.7
          minimum: 0
          maximum: 1
        maxTokens:
          type: integer
          default: 1000
          minimum: 100
          maximum: 4000
        temperature:
          type: number
          format: double
          default: 0.7
          minimum: 0
          maximum: 2
        filters:
          type: object
          additionalProperties:
            type: string

    RagResult:
      type: object
      required:
        - response
        - sources
      properties:
        response:
          type: string
        sources:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              content:
                type: string
              score:
                type: number
                format: double
        warning:
          type: string

    ConversationalRagDto:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          minLength: 1
        history:
          type: array
          items:
            $ref: '#/components/schemas/ConversationTurnDto'
        systemPrompt:
          type: string
        contextLimit:
          type: integer
          default: 5
          minimum: 1
          maximum: 20
        relevanceThreshold:
          type: number
          format: double
          default: 0.7
          minimum: 0
          maximum: 1
        maxTokens:
          type: integer
          default: 1000
          minimum: 100
          maximum: 4000
        temperature:
          type: number
          format: double
          default: 0.7
          minimum: 0
          maximum: 2
        filters:
          type: object
          additionalProperties:
            type: string

    ConversationTurnDto:
      type: object
      required:
        - userMessage
      properties:
        userMessage:
          type: string
        assistantMessage:
          type: string

  responses:
    UnauthorizedError:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
