.git
.github
.gradle
.idea
.vscode

**/.DS_Store
**/.cache
**/.next
**/.turbo
**/.pnpm-store
**/node_modules
**/build
**/dist
**/coverage
**/target
**/out
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/tmp
**/temp
**/logs
**/*.log

build/
reports/
