{{#if enableRouter}}
{{>../shared/partials/license-header}}

import { Routes, Route, Link } from 'react-router-dom'
import Home from '../pages/Home'
import About from '../pages/About'

const AppRouter = () => {
  return (
    <>
      <nav className="navigation">
        <ul>
          <li><Link to="/">Home</Link></li>
          <li><Link to="/about">About</Link></li>
        </ul>
      </nav>
      <Routes>
        <Route path="/" element={<Home />} />
        <Route path="/about" element={<About />} />
        <Route path="*" element={<div>404 - Page Not Found</div>} />
      </Routes>
    </>
  )
}

export default AppRouter
{{else}}
// Router component is only generated when enableRouter is true
{{/if}}