PHR_API_PORT=8085
PHR_WEB_PORT=5178
PHR_ENV=development
PHR_DATABASE_URL=jdbc:postgresql://postgres:5432/phr
PHR_DATABASE_USERNAME=phr
PHR_DATABASE_PASSWORD=
PHR_LOG_LEVEL=info
POSTGRES_DB=phr
POSTGRES_PORT=5435
