# Enforce pnpm
engine-strict=true

# Hoist dependencies
shamefully-hoist=true

# Strict peer dependencies
strict-peer-dependencies=false

# Auto install peers
auto-install-peers=true

# Lockfile settings
lockfile=true
prefer-frozen-lockfile=true
