openapi: 3.1.0
info:
  title: TutorPutor Content Generation API
  version: 1.0.0
  description: |
    API for generating educational content, managing content libraries, and tracking learning paths.
    
    ## Authentication
    All endpoints require Bearer token authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer <access_token>
    ```
    
    ## Error Handling
    The API uses standard HTTP status codes and returns errors in the canonical envelope:
    ```json
    {
      "error": {
        "code": "ERROR_CODE",
        "message": "Human-readable error message",
        "details": { "field": "Additional context" }
      },
      "traceId": "correlation-id-for-debugging",
      "timestamp": "2026-05-06T00:00:00.000Z",
      "statusCode": 400
    }
    ```
    
    ## Rate Limiting
    - Tier 1 (default): 100 requests per minute
    - Tier 2 (premium): 1000 requests per minute
    
    Check response headers for rate limit info:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Requests remaining in current window
    - `X-RateLimit-Reset`: Unix timestamp when limit resets
  contact:
    name: TutorPutor API Support
    url: https://tutorputor.ghatana.io/support
    email: api-support@tutorputor.io
  license:
    name: Proprietary
    url: https://tutorputor.ghatana.io/license
  x-logo:
    url: https://tutorputor.ghatana.io/logo.png
servers:
  - url: https://api.tutorputor.io/v1
    description: Production environment
    variables:
      region:
        default: us-east-1
        enum:
          - us-east-1
          - eu-west-1
          - ap-southeast-1
  - url: https://staging-api.tutorputor.io/v1
    description: Staging environment

tags:
  - name: Content Generation
    description: Generate educational content from topics
  - name: Content Libraries
    description: Manage content collections and libraries
  - name: Learning Paths
    description: Create and track user learning sequences
  - name: Topic Claims
    description: Manage topic-specific knowledge claims

paths:
  /generation/requests:
    post:
      summary: Create a new generation request
      operationId: createGenerationRequest
      x-tutorputor-contract:
        requestType: CreateGenerationRequestInput
        responseType: GenerationRequest
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: createGenerationRequest
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Creates a new generation request in DRAFT status. This is the first step
        in the generation-request lifecycle. After creation, the request must be
        planned, then executed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGenerationRequestInput'
      responses:
        '201':
          description: Generation request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationRequest'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    get:
      summary: List generation requests
      operationId: listGenerationRequests
      x-tutorputor-contract:
        requestType: ListGenerationRequestsQuery
        responseType: ListGenerationRequestsResponse
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: listGenerationRequests
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [DRAFT, PLANNING, PLANNED, EXECUTING, COMPLETED, FAILED, CANCELLED]
          description: Filter by request status
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 500
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of generation requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGenerationRequestsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /generation/requests/{requestId}:
    get:
      summary: Get generation request with jobs
      operationId: getGenerationRequest
      x-tutorputor-contract:
        requestType: null
        responseType: GenerationRequestWithJobs
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: getGenerationRequest
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Generation request retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationRequestWithJobs'
        '404':
          description: Generation request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /generation/requests/{requestId}/plan:
    post:
      summary: Run planning phase
      operationId: planGenerationRequest
      x-tutorputor-contract:
        requestType: null
        responseType: PlanningResult
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: planGenerationRequest
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Runs the planning phase for a generation request. Determines which artifacts
        to generate, risk assessment, review path, and cost estimation. Transitions
        the request from DRAFT to PLANNED and creates GenerationJob records.
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Planning completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanningResult'
        '400':
          description: Planning failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Generation request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /generation/requests/{requestId}/execute:
    post:
      summary: Start execution
      operationId: executeGenerationRequest
      x-tutorputor-contract:
        requestType: null
        responseType: ExecutionStartResult
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: executeGenerationRequest
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Starts execution of a planned generation request. Dispatches ready jobs
        to the queue and begins the generation lifecycle.
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionStartResult'
        '400':
          description: Execution failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /generation/requests/{requestId}/cancel:
    post:
      summary: Cancel a request
      operationId: cancelGenerationRequest
      x-tutorputor-contract:
        requestType: null
        responseType: GenerationRequest
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: cancelGenerationRequest
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Cancels a generation request that hasn't completed yet. Cancels any
        pending/running jobs.
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationRequest'
        '400':
          description: Cancellation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /generation/requests/{requestId}/stream:
    get:
      summary: Stream execution snapshot
      operationId: streamGenerationExecution
      x-tutorputor-contract:
        requestType: StreamExecutionQuery
        responseType: text/event-stream
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: streamGenerationExecution
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Server-sent events stream for generation execution. Emits snapshot, job_result,
        telemetry, summary, and done events. Requires Redis for live updates.
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
        - name: includeOutput
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
        '404':
          description: Generation request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /generation/requests/{requestId}/results:
    post:
      summary: Record batch results
      operationId: recordGenerationResults
      x-tutorputor-contract:
        requestType: RecordResultsInput
        responseType: RecordResultsSummary
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: recordGenerationResults
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Records batch job execution results. Called by workers to report completion
        of generation jobs. Requires service authentication.
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordResultsInput'
      responses:
        '200':
          description: Results recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResultsSummary'
        '400':
          description: Recording failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /generation/infer-intent:
    post:
      summary: AI-powered intent inference
      operationId: inferGenerationIntent
      x-tutorputor-contract:
        requestType: InferIntentInput
        responseType: InferIntentResult
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: inferGenerationIntent
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Uses AI to infer generation intent from a topic. Suggests domain, difficulty,
        target grades, and learning objectives.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferIntentInput'
      responses:
        '200':
          description: Intent inferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferIntentResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Intent inference failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /generation/notifications/stream:
    get:
      summary: SSE stream for job status updates
      operationId: streamGenerationNotifications
      x-tutorputor-contract:
        requestType: null
        responseType: text/event-stream
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: streamGenerationNotifications
        backendOwner: services/tutorputor-platform/src/modules/content/generation/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Content Generation
      description: |
        Server-sent events stream for generation job status notifications.
        Currently emits connection and ping events.
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string

  /libraries:
    get:
      summary: List content libraries
      operationId: listLibraries
      x-tutorputor-contract:
        requestType: ListLibrariesQuery
        responseType: ListLibrariesResponse
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: listLibraries
        backendOwner: services/tutorputor-platform/src/modules/content/routes.ts
        typedClient: apps/tutorputor-web/src/api/contentApi.ts
      tags:
        - Content Libraries
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: search
          in: query
          required: false
          description: Search libraries by name
          schema:
            type: string
      responses:
        '200':
          description: List of libraries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentLibrary'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      summary: Create content library
      operationId: createLibrary
      x-tutorputor-contract:
        requestType: CreateLibraryRequest
        responseType: ContentLibrary
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: createLibrary
        backendOwner: services/tutorputor-platform/src/modules/content/routes.ts
        typedClient: apps/tutorputor-web/src/api/contentApi.ts
      tags:
        - Content Libraries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLibraryRequest'
      responses:
        '201':
          description: Library created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentLibrary'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /learning-paths/{userId}:
    get:
      summary: Get user learning paths
      operationId: getUserLearningPaths
      x-tutorputor-contract:
        requestType: null
        responseType: LearningPath
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: getUserLearningPaths
        backendOwner: services/tutorputor-platform/src/modules/learning/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Learning Paths
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User learning paths
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningPath'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: User not found

    post:
      summary: Create learning path for user
      operationId: createLearningPath
      x-tutorputor-contract:
        requestType: CreateLearningPathRequest
        responseType: LearningPath
        serviceInterface: TutorPutorOpenApiService
        serviceMethod: createLearningPath
        backendOwner: services/tutorputor-platform/src/modules/learning/routes.ts
        typedClient: apps/tutorputor-web/src/api/tutorputorClient.ts
      tags:
        - Learning Paths
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLearningPathRequest'
      responses:
        '201':
          description: Learning path created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningPath'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

components:
  schemas:
    CreateGenerationRequestInput:
      type: object
      required:
        - title
        - domain
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
          description: Title of the generation request
          example: "Introduction to Newton's Laws"
        description:
          type: string
          maxLength: 2000
          description: Optional description
        domain:
          type: string
          enum:
            - MATH
            - SCIENCE
            - TECH
            - ENGINEERING
            - MEDICINE
            - HEALTH
            - BUSINESS
            - MANAGEMENT
            - ECONOMICS
            - COMPUTER_SCIENCE
            - INTERDISCIPLINARY
          description: Domain for the content
        conceptId:
          type: string
          description: Optional concept ID to link to
        targetGrades:
          type: array
          items:
            type: string
          description: Target grade levels
        requestConfig:
          type: object
          additionalProperties: true
          description: Optional configuration for the generation

    GenerationRequest:
      type: object
      required:
        - id
        - tenantId
        - title
        - domain
        - status
        - requestedBy
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
        title:
          type: string
        description:
          type: string
        domain:
          type: string
          enum:
            - MATH
            - SCIENCE
            - TECH
            - ENGINEERING
            - MEDICINE
            - HEALTH
            - BUSINESS
            - MANAGEMENT
            - ECONOMICS
            - COMPUTER_SCIENCE
            - INTERDISCIPLINARY
        conceptId:
          type: string
        targetGrades:
          type: array
          items:
            type: string
        requestedBy:
          type: string
        requestConfig:
          type: object
          additionalProperties: true
        status:
          type: string
          enum:
            - DRAFT
            - PLANNING
            - PLANNED
            - EXECUTING
            - COMPLETED
            - FAILED
            - CANCELLED
        plannedAssets:
          type: array
          items:
            type: object
        artifactNeeds:
          type: object
          additionalProperties:
            type: integer
        riskLevel:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        riskFactors:
          type: array
          items:
            type: string
        reviewPath:
          type: string
          enum:
            - auto_publish
            - human_review
            - expert_review
        estimatedCost:
          type: object
        routingDecision:
          type: object
        totalJobs:
          type: integer
        completedJobs:
          type: integer
        failedJobs:
          type: integer
        plannedAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    GenerationJob:
      type: object
      required:
        - id
        - requestId
        - jobType
        - status
      properties:
        id:
          type: string
          format: uuid
        requestId:
          type: string
        jobType:
          type: string
          enum:
            - claim
            - explainer
            - worked_example
            - simulation
            - animation
            - assessment
            - evaluation
        targetRef:
          type: string
        inputPrompt:
          type: string
        parameters:
          type: object
          additionalProperties: true
        status:
          type: string
          enum:
            - PENDING
            - RUNNING
            - COMPLETED
            - FAILED
            - CANCELLED
        progress:
          type: integer
          minimum: 0
          maximum: 100
        outputAssetId:
          type: string
        outputData:
          type: object
          additionalProperties: true
        diagnostics:
          type: object
          additionalProperties: true
        errorMessage:
          type: string
        retryCount:
          type: integer
        maxRetries:
          type: integer
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    GenerationRequestWithJobs:
      allOf:
        - $ref: '#/components/schemas/GenerationRequest'
        - type: object
          properties:
            jobs:
              type: array
              items:
                $ref: '#/components/schemas/GenerationJob'

    ListGenerationRequestsResponse:
      type: object
      required:
        - items
        - total
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GenerationRequest'
        total:
          type: integer

    PlanningResult:
      type: object
      required:
        - requestId
        - plannedAssets
        - artifactNeeds
        - riskLevel
        - reviewPath
        - estimatedCost
        - totalJobs
      properties:
        requestId:
          type: string
        plannedAssets:
          type: array
          items:
            type: object
        artifactNeeds:
          type: object
          additionalProperties:
            type: integer
        riskLevel:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        riskFactors:
          type: array
          items:
            type: string
        reviewPath:
          type: string
          enum:
            - auto_publish
            - human_review
            - expert_review
        estimatedCost:
          type: object
        routingDecision:
          type: object
        totalJobs:
          type: integer

    ExecutionStartResult:
      type: object
      required:
        - request
        - dispatch
      properties:
        request:
          $ref: '#/components/schemas/GenerationRequestWithJobs'
        dispatch:
          type: object
          properties:
            queuedJobs:
              type: array
              items:
                type: string

    RecordResultsInput:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              jobId:
                type: string
              status:
                type: string
                enum:
                  - completed
                  - failed
              outputAssetId:
                type: string
              outputData:
                type: object
                additionalProperties: true
              diagnostics:
                type: object
                additionalProperties: true
              errorMessage:
                type: string
              durationMs:
                type: integer

    RecordResultsSummary:
      type: object
      properties:
        completed:
          type: integer
        failed:
          type: integer
        total:
          type: integer

    InferIntentInput:
      type: object
      required:
        - topic
      properties:
        topic:
          type: string
          minLength: 1
          maxLength: 200
        preferredDomain:
          type: string

    InferIntentResult:
      type: object
      properties:
        data:
          type: object
          properties:
            domain:
              type: string
            difficulty:
              type: string
            targetGrades:
              type: array
              items:
                type: string
            learningObjectives:
              type: array
              items:
                type: string

    StreamExecutionQuery:
      type: object
      properties:
        includeOutput:
          type: boolean
          default: true

    ContentLibrary:
      type: object
      required:
        - id
        - name
        - itemCount
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        itemCount:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        isPublic:
          type: boolean
          default: false

    LearningPath:
      type: object
      required:
        - id
        - userId
        - contentSequence
        - progressPercentage
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        name:
          type: string
        contentSequence:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
        progressPercentage:
          type: integer
          minimum: 0
          maximum: 100
        completedItems:
          type: integer
          minimum: 0
        lastAccessedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CreateLibraryRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        isPublic:
          type: boolean
          default: false

    CreateLearningPathRequest:
      type: object
      required:
        - name
        - contentSequence
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        contentSequence:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1

    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      required:
        - error
        - traceId
        - timestamp
        - statusCode
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code (snake_case)
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              additionalProperties: true
              description: Additional error context
        traceId:
          type: string
          description: Correlation ID for support
        timestamp:
          type: string
          format: date-time
        statusCode:
          type: integer
          minimum: 400
          maximum: 599

    RateLimitError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            retryAfter:
              type: integer
              description: Seconds to wait before retrying

  responses:
    UnauthorizedError:
      description: Authentication failed or missing
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Missing or invalid authentication token"
            traceId: "trace-abc123"
            timestamp: "2026-05-06T00:00:00.000Z"
            statusCode: 401

    ForbiddenError:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "FORBIDDEN"
              message: "Insufficient permissions for this operation"
            traceId: "trace-def456"
            timestamp: "2026-05-06T00:00:00.000Z"
            statusCode: 403

    BadRequestError:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token issued by the authentication service

security:
  - BearerAuth: []
