openapi: 3.0.3
info:
  title: TutorPutor API
  description: |
    TutorPutor is an AI-powered educational platform for STEAM learning.
    
    This API provides endpoints for:
    - User authentication and authorization
    - Module and lesson management
    - AI tutoring and content generation
    - Simulations and interactive learning
    - Analytics and reporting
    - Gamification and engagement features
    
    ## Authentication
    
    Most endpoints require authentication via JWT tokens. Include the token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```
    
    ## Rate Limiting
    
    API requests are rate-limited to 100 requests per minute per user.
    
    ## Versioning
    
    Current API version: v1
  version: 1.0.0
  contact:
    name: TutorPutor API Support
    email: api-support@tutorputor.com
  license:
    name: Proprietary

servers:
  - url: https://api.tutorputor.com/api/v1
    description: Production server
  - url: https://staging.tutorputor.com/api/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Auth
    description: Authentication and authorization endpoints
  - name: Modules
    description: Module and lesson management
  - name: AI
    description: AI-powered tutoring and content generation
  - name: Simulations
    description: Interactive simulations
  - name: Analytics
    description: Analytics and reporting
  - name: Gamification
    description: Gamification and engagement features
  - name: Health
    description: Health check and monitoring endpoints

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check endpoint
      description: Returns the health status of the API service
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time

  /auth/login:
    post:
      tags:
        - Auth
      summary: User login
      description: Authenticate a user and receive a JWT token
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: securepassword
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT authentication token
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/register:
    post:
      tags:
        - Auth
      summary: User registration
      description: Register a new user account
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: securepassword
                name:
                  type: string
                  example: John Doe
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT authentication token
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /modules:
    get:
      tags:
        - Modules
      summary: List all modules
      description: Retrieve a paginated list of learning modules
      operationId: listModules
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: domain
          in: query
          description: Filter by domain (physics, chemistry, biology, etc.)
          schema:
            type: string
        - name: difficulty
          in: query
          description: Filter by difficulty level
          schema:
            type: string
            enum: [beginner, intermediate, advanced]
      responses:
        '200':
          description: List of modules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Module'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /modules/{moduleId}:
    get:
      tags:
        - Modules
      summary: Get module details
      description: Retrieve detailed information about a specific module
      operationId: getModule
      parameters:
        - name: moduleId
          in: path
          required: true
          description: Module ID
          schema:
            type: string
      responses:
        '200':
          description: Module details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
        '404':
          description: Module not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ai/tutor/query:
    post:
      tags:
        - AI
      summary: AI tutor query
      description: Submit a question to the AI tutor and receive an educational response
      operationId: tutorQuery
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - question
              properties:
                question:
                  type: string
                  description: The student's question
                  example: "What is Newton's first law of motion?"
                moduleId:
                  type: string
                  description: Optional module context
                locale:
                  type: string
                  description: Response language (default: en)
                  example: en
      responses:
        '200':
          description: AI tutor response
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                  citations:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        url:
                          type: string
                  followUpQuestions:
                    type: array
                    items:
                      type: string
                  safety:
                    type: object
                    properties:
                      blocked:
                        type: boolean

  /ai/health:
    get:
      tags:
        - AI
      summary: AI service health check
      description: Check the health status of AI services
      operationId: aiHealthCheck
      responses:
        '200':
          description: AI service health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  healthy:
                    type: boolean
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        service:
                          type: string
                        healthy:
                          type: boolean
                        latency:
                          type: number
                        error:
                          type: string

  /ai/cache/stats:
    get:
      tags:
        - AI
      summary: AI cache statistics
      description: Get cache performance statistics
      operationId: aiCacheStats
      responses:
        '200':
          description: Cache statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                  hitRate:
                    type: number
                  totalHits:
                    type: integer
                  totalMisses:
                    type: integer

  /analytics/summary:
    get:
      tags:
        - Analytics
      summary: Analytics summary
      description: Get summary analytics for the current user
      operationId: analyticsSummary
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Analytics summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalModulesCompleted:
                    type: integer
                  totalTimeSpent:
                    type: integer
                    description: Time in minutes
                  averageScore:
                    type: number
                  streakDays:
                    type: integer

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        createdAt:
          type: string
          format: date-time

    Module:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        domain:
          type: string
          enum: [physics, chemistry, biology, mathematics, engineering]
        difficulty:
          type: string
          enum: [beginner, intermediate, advanced]
        estimatedDuration:
          type: integer
          description: Duration in minutes
        lessonCount:
          type: integer

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      required:
        - error
        - traceId
        - timestamp
        - statusCode
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error details
              additionalProperties: true
        traceId:
          type: string
          description: Correlation ID for tracing
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp
        statusCode:
          type: integer
          description: HTTP status code
